/* NAV CSS */
body {
	background-color: var(--color-secondary);
}
nav {
	display: flex;
	background-color: var(--color-accent);
	color: #ccc;
	justify-content: space-between;
	padding: 1em 10em;
	align-items: center;
	position: sticky;
	box-shadow: 0 0 5px white;
}
.navLeft {
	flex-grow: 0.3;
}
.navRight a {
	margin-right: 20px;
}
.logo {
	width: 5em;
	font-size: 3.25rem;
}

.navLeft ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	color: var(--color-secondary);
	font-weight: 600;
	&:hover {
		transition: all 1s;
		color: #fff;
		text-decoration: underline;
		text-underline-offset: 5px;
		text-decoration-thickness: 3px;
	}
}
.btnHover {
	cursor: pointer;
	border-radius: 10px;
	padding: 1em;
	margin: 0;
	&:hover {
		background-color: var(--color-accent);
		color: white;
		transition: all 0.3s;
	}
}
.btnHoverNight {
	cursor: pointer;
	&:hover {
		background-color: var(--color-accent);
		color: white;
		transition: all 0.3s;
	}
}
/* INDEX CSS */
/* HEADER */
#indexHeader {
	margin-bottom: 10em;
}
.banner {
	background-image: url('../img/banner1.jpg');
	background-position: 150px -50px;
	background-size: cover;
	width: 80%;
	margin: auto;
	border-radius: 0 0 100px 100px;
	height: 25em;
}
.bannerWrapper {
	position: relative;
}
.bannerText {
	position: absolute;
	top: 15%;
	left: 20%;
	color: white;
	font-size: 4rem;
	width: 30%;
	font-weight: 800;
	font-family: 'Madimi One';
}
.shopCarContainer {
	width: 40%;
	padding: 2em;
	border-radius: 20px;
	box-shadow: 0 0 5px lightgray;
	position: absolute;
	bottom: -30%;
	left: 30%;
	background-color: white;
}
.shopCarContainer h1 {
	margin-bottom: 20px;
}
.containerText {
	display: flex;
	justify-content: space-between;
}
.iconNight {
	background-color: var(--color-primary);
	border-radius: 50%;
	width: 8%;
	cursor: pointer;
	transition: all 0.3s;
	&:hover {
		background-color: var(--color-accent);
	}
}
.icon {
	border-radius: 50%;
	width: 4%;
}

.rating {
	display: flex;
	margin-bottom: 10px;
}
.rating img {
	width: 15%;
}
/* CONTACT US CSS */
/* HEADER */
#contactHeader {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin: 3em auto;
}
.headerRight {
	width: 30%;
}
#message {
	margin-bottom: 10px;
}
/* MAIN */
#contactMain {
	margin: auto;
	padding: 2em 15em;
}
.contactWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 3em;
	grid-template-areas:
		'callortext form'
		'chatwithus form';
}
.callOrText {
	grid-area: callortext;
}
.chatWithUs {
	grid-area: chatwithus;
}
.contactForm {
	grid-area: form;
}
.contactButton {
	padding: 1em 1.5em;
	color: white;
	background-color: var(--color-primary);
	width: fit-content;
	border-radius: 10px;
}
.contactWrapper h2 {
	margin-bottom: 10px;
}
.hours div {
	margin: 1em 0;
}
.contactForm form {
	display: flex;
	flex-direction: column;
}
form :is(label) {
	color: var(--color-accent);
	margin-top: 20px;
}
form :is(input, select) {
	border: 1px solid lightgray;
	border-radius: 5px;
	padding: 0.4em;
}
form button {
	margin-top: 20px;
	padding: 0.4em;
	border: none;
	color: white;
	background-color: var(--color-primary);
	border-radius: 5px;
}

.locationWrapper {
	margin: auto;
	padding: 0 15em;
	display: flex;
	flex-direction: column;
}
.officeLocation {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	margin-bottom: 20px;
}
.location {
	display: flex;
	justify-content: space-between;
}
.headquarters {
	margin-right: 10em;
}

/* FOOTER */
#footerWrapper {
	background-color: var(--color-accent);
	display: grid;
	padding: 5em 25em;
	gap: 5em;
	grid-template-columns: repeat(3, 1fr);
	color: white;
}

/* SHOP CARS */
/* HEADER */

#shopHeader form {
	background-color: white;
	width: 40%;
	margin-left: 30%;
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0.6em 1.3em;
	border: 1px solid lightgray;
	box-shadow: 0px 0px 5px lightgray;
	border-radius: 40px;
}
.searchBar {
	display: flex;
	align-items: center;
	padding: 0.3em 1.3em;
}
.searchBar input {
	border: none;
	width: 100%;
	margin-left: 30px;
	border-bottom: 1px solid lightgray;
}
.shopFormAlt {
	padding: 0.3em 1.3em;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.carPriceRange {
	margin-left: 40px;
}
#shopHeader input[type='submit'] {
	width: 50%;
	margin-bottom: 10px;
	background-color: var(--color-primary);
	color: white;
	&:hover {
		cursor: pointer;
		transition: all 0.3s;
		background-color: var(--color-accent);
	}
}
/* MAIN */
#shopMain {
	padding: 2em 15em;
}
.carCard {
	overflow: hidden;
	position: relative;
}
.carCard img {
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease;
}
.carCard:hover img {
	transform: scale(1.05);
	transition: all 0.5s;
	filter: brightness(60%);
}
.cardBody {
	margin-top: 1em;
}
.carPrice {
	color: var(--color-primary);
	font-size: small;
}
#shopMainWrapper {
	display: grid;
	gap: 1em;
	grid-template-columns: repeat(3, 1fr);
}
#shopMainWrapper a {
	color: black;
}

/* INDEX */
/* MAIN */
.featuredCars {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;
	width: 80%;
	margin: 20px auto;
}
.featuredCars .carTitle {
	font-size: 1.3rem;
}
.featuredCars .carPrice {
	font-size: larger;
}
.moreBtn {
	padding: 1em;
	text-align: center;
	grid-column: 2/3;
	background-color: var(--color-primary);
	color: white;
	border-radius: 30px;
}
.reviewWrapper {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 70%;
	margin: auto;
	gap: 1.5em;
	margin-bottom: 20px;
}
.reviewCard {
	box-shadow: 0 0 5px lightgray;
	border-radius: 10px;
	background-color: white;
}
.reviewCard .cardHeader img {
	width: 100%;
}
.reviewCard img {
	border-radius: 10px 10px 0 0;
}
.reviewCard .cardBody {
	padding: 0 1em 1em 1em;
}

/* DETAIL PAGE */
/* MAIN */
#detailMain {
	margin: 3em 20em;
}
#detailWrapper {
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.carImage {
	display: grid;
	grid-template-columns: 1fr;
	gap: 0.5em;
}
.subImage {
	display: flex;
	gap: 0.3em;
	overflow: hidden;
}
.subImage img {
	width: 20%;
}
.carDetail {
	margin: 0 0 0 3em;
}
.carDetail a {
	padding: 1em;
	background-color: var(--color-primary);
	border-radius: 30px;
	color: white;
}
.carDetail p {
	color: var(--color-accent);
	margin-bottom: 1em;
	width: 70%;
}
.carDetail h2:first-of-type {
	font-weight: 400;
}

/* LOGIN PAGE */

#loginMain,
#signinMain {
	padding: 20px;
	max-width: 600px;
	margin: 5rem auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
}

#loginMain h2,
#signinMain h2 {
	text-align: center;
	font-size: 35px;
}

#loginForm,
#signinForm {
	display: flex;
	flex-direction: column;
	padding: 20px;
}

#loginForm label,
#signinForm label {
	margin-bottom: 5px;
	font-weight: bold;
}

#loginForm input,
#signinForm input {
	/* margin-bottom: 10px; */
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	transition: border-color 0.3s;
}

#loginForm input:focus,
#signinForm input:focus {
	border-color: var(--color-accent);
	outline: none;
}

#loginBtn,
#signinBtn {
	background-color: var(--color-accent);
	color: white;
	border: none;
	padding: 15px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s;
	-webkit-transition: background-color 0.3s;
	-moz-transition: background-color 0.3s;
	-ms-transition: background-color 0.3s;
	-o-transition: background-color 0.3s;
}

#loginBtn:hover,
#signinBtn:hover {
	background-color: var(--color-primary);
}

#loginMain a,
#signinMain a {
	font-weight: bold;
	color: var(--color-accent);
	margin: 0 1.5em;
}

.errors {
	color: rgb(175, 0, 0);
	font-weight: bold;
	padding: 1em 1.5em 0em 1.5em;
}
#viewModelMain {
	width: 80%;
	margin: auto;
}
#viewModelMain img {
	width: 20%;
}

/* CART */
#cartMain,
#checkoutMain,
#editModelMain,
#addModelMain,
#addUserMain {
	width: 60%;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#cartMain table {
	border-collapse: collapse;
	border: 2px solid var(--color-accent);
	margin-bottom: 10px;
}
#cartMain :is(th, td) {
	padding: 0.6em 1em;
}
#cartMain td:last-of-type:hover {
	background-color: var(--color-accent);
	transition: all 0.3s;
	& a {
		color: white;
	}
}
#cartMain tr:nth-child(odd) {
	background-color: rgb(103, 95, 80);
	color: white;
	& a {
		color: white;
	}
}
#cartMain tr:first-of-type {
	background-color: var(--color-accent);
}
#cartMain tr:nth-child(odd) td:last-of-type:hover {
	background-color: var(--color-secondary);
	transition: all 0.3s;
	& a {
		color: black;
	}
}
.cartTotal {
	font-size: larger;
}
.border {
	border: 1px solid var(--color-accent);
}
.continueShopping {
	display: flex;
	gap: 10px;
}
.successMessage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.successMessage p {
	margin-bottom: 20px;
}

/* ADMIN */
.container {
	width: 80%;
	margin: auto;
	padding: 20px;
}
.card {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	margin: 20px;
	padding: 1.5em;
	text-align: center;
}

.card h3 {
	margin: 0;
	font-size: 24px;
}
.card p {
	font-size: 18px;
	color: #555;
}
.navbar {
	background: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}
.navbar a {
	color: #fff;
	text-decoration: none;
	margin: 0 15px;
}

/* VIEW MODEL */
.viewModelWrapper {
	display: flex;
	border: 2px solid var(--color-accent);
	justify-content: space-between;
	border-radius: 20px;
	align-items: center;
	margin-bottom: 10px;
	padding: 2em;
}
.viewModelWrapper p {
	color: var(--color-accent);
}
#viewModelHeader {
	padding: 2em 0;
	/* text-align: right; */
}
#viewModelHeader h1 {
	margin-bottom: 30px;
}

/* EDIT MODEL */
#editModelMain,
#addModelMain {
	margin-top: 20px;
}
#editModelMain form,
#addModelMain form {
	display: flex;
	flex-direction: column;
}
#editModelMain :is(input, textarea, button),
#addModelMain :is(input, textarea, button) {
	padding: 1em;
}

/* VIEW MODEL */

#viewModelMain li {
	list-style-type: square;
	font-size: 1.5rem;
}

#viewUserMain,
#viewOrderMain {
	width: 50%;
	margin: 0 auto;
}
#viewUserMain h1 {
	margin: 0 0 20px 0;
}
#viewOrderMain h1 {
	text-align: center;
}
#viewUserMain table,
#viewOrderMain table {
	margin: 20px auto;
	border-collapse: collapse;
	border: 2px solid var(--color-accent);
	margin-bottom: 10px;
}
#viewUserMain :is(th, td),
#viewOrderMain :is(th, td) {
	padding: 0.6em 1em;
}
#viewUserMain td:last-of-type:hover,
#viewOrderMain td:last-of-type:hover {
	background-color: var(--color-accent);
	transition: all 0.3s;
	& a {
		color: white;
	}
}
#viewUserMain tbody tr:nth-child(even),
#viewOrderMain tbody tr:nth-child(even) {
	background-color: rgb(103, 95, 80);
	color: white;
	& a {
		color: white;
	}
}
#viewUserMain thead tr:first-of-type,
#viewOrderMain thead tr:first-of-type {
	background-color: var(--color-accent);
	color: white;
}
#viewUserMain tr:nth-child(even) td:last-of-type:hover,
#viewOrderMain tr:nth-child(even) td:last-of-type:hover {
	background-color: var(--color-secondary);
	transition: all 0.3s;
	& a {
		color: black;
	}
}
.adminForm {
	width: 50%;
}
#viewModelMain .viewModelWrapper div img.iconAdmin,
#viewUserMain img.iconAdmin {
	width: 2em;
	border-radius: 0;
}
.iconWrapper {
	display: flex;
}
.iconWrapper * {
	margin: 5px;
}
